body {
  background-image: url("../images/back4.png");
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper{
  margin-left: 13%;
  margin-right: 13%;
}


h1 {
  width: 225px;
  color: #ffffff;
  background-color: #4aaaa5;
  font-size: 27px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
}

h2,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #777777;
}


li {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: 7px;



}

li a {
  tab-size: 10px;
  display: inline-block;
  color: dimgray;
  padding: 7px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;

}

hr {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color: #666;

}


.aboutme {
  padding-top: 9px;
  margin-left: 5%;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  color: #4aaaa5;

}

.header {
  background-color: #ffffff;
  padding: 64px;
  border-bottom: 1px solid #cccccc;
}

.footer {

  border-top-color: #4aaaa5;
  border-top-style: solid;
  border-top-width: 15px;
  padding: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: dimgray;
  color: white;
  text-align: center;
}


  .center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background-color: #4aaaa5;
    color:white;
    text-align: center;
    font-size: 12px;

}
img
{
  background-color: #4aaaa5;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}

#main_img {
  margin: 1em;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

#mainbox {
  margin-left: 17%;
  background-color: #ffffff;
  width: 960px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  height: 490px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#port_img1 {
  margin: 1em;
  width: 320px;
  height: 180px;
  margin-right: 20px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#port_img2 {
  margin: 1em;
  width: 320px;
  height: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#port_img3 {
  margin: 1em;
  width: 320px;
  height: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}